$marginFromTop: 30px;
$darkYellow: #fed136;
body{
    margin: 0px;
    background-color: black;
}
.overTopNav{
    width: 1400px;
    height: 100px;
    margin: auto;
}

.tnLeft a {
    color: $darkYellow;
    font-family: 'Dancing Script', cursive;
    text-decoration: none;
    font-size: 1.5em;
}
.tnRight a {
    color: white;
    text-align: right;
    text-decoration: none;
    padding: 0 10px 0 10px;
    font-size: 1em;
    font-weight: 500;
    font-family: Arial, sans-serif;
}
.backImg{
    position: absolute;
    z-index: -1;
    left: 50%;
    margin-left: -700px;
    margin-top: -$marginFromTop;
    padding: 0px;
  }
  .rowMargin{
      margin-top: $marginFromTop;
  }
  .h2InWelcome{
    color: white;
    text-align: center;
    font-size: 2em;
    font-style: italic;
    font-family: Times, Times New Roman, serif;
  }
  .h1InNice{
    color: white;
    text-align: center;
    font-size: 3em;
    font-weight: 900;
    font-family: Arial, sans-serif;
  }
  .centerInHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 654px;
   
  }
  .btnTell{
    color: white;
    text-align: center;
    font-size: 1em;
    font-weight: 700;
    font-family: Arial, sans-serif;
    background-color: $darkYellow;
    padding: 20px 30px 20px 30px;
    text-decoration: none;
    border-radius: 0.5em;
  }
  .divBeforeBtnTell{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .servicesContainer{
    background-color: white;
    width: 1400px;
    border: 0;
    margin-left: +125px;
    max-width: 1400px;
  }
  .servicesContainer h3{
    margin-top: 3em;
    font-size: 3em;
    font-weight: 700;
    font-family: Arial, sans-serif;
    text-align: center;
    margin-block-end: 0;
  }
  .pInServicesContainer{
      text-align: center;
      font-size: 1.5em;
      font-style: italic;
      font-family: Times, Times New Roman, serif;
      margin-block-start: 0;
      color: grey;
      margin-bottom: 0;
  }

  .rowCentered960px h4{
    text-align: center;
    font-size: 1.5em;
    font-weight: 700;
    font-family: Arial, sans-serif;
  }
  .rowCentered960px{
    width: 960px;
    max-width: 960px;
    margin: auto;
  }
  .rowCentered960px i{
    color:$darkYellow;
    font-size: 4em;
    text-align: center;
    margin: 1em auto 0 auto;
    width: 100%;
  }
  .pInCenetered960 {
    color: #555;
    text-align: center;
    font-size: 1em;  
    margin: 0 10px 0 10px;
  }